




<!-- right members -->
  <div class="tab-pane" id="members">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Avatar</th>
            <th>Name</th>
            <th>Location</th>
            <th>Introduction count</th>
            <th>Message</th>
            <th>Delete</th>
          </tr>
        </thead>
          <%# table cotents %>
      </table>
      <hr>
      <div class="row">
        <div class="col-md-4 col-md-offset-4 text-center">
          <ul class="pagination" id="myPager"></ul>
        </div>
      </div>
     </div><!--/table-resp-->
  </div><!--/right group-->