<div class="tab-pane" id="aboutgroup">
  <!-- right About Group -->
  <h1 class="page-header">Edit Group</h1>
  <!-- left column -->
  <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="text-center">
      <img src="https://via.placeholder.com/400x200" class="avatar img-thumbnail" alt="avatar">
      <h6>Upload a different photo...</h6>
      <input type="file" class="text-center center-block well well-sm">
    </div>
  </div>
  <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
      <form class="form-horizontal" role="form">
        <div class="form-group">
          <label class="col-lg-3 control-label">Group Name:</label>
          <div class="col-lg-8">
            <input class="form-control" value="" type="text">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Label:</label>
          <div class="col-lg-8">
            <input class="form-control" value="" type="text">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Description:</label>
          <div class="col-lg-8">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>    
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label"></label>
          <div class="col-md-8">
            <input class="btn btn-primary" value="Save Changes" type="button">
            <span></span>
            <input class="btn btn-default" value="Cancel" type="reset">
          </div>
        </div>
      </form>
  </div>
</div>