<div class="container bg-white">
  <!-- top -->
<div class="row">
    <div class="col-md-7">
      <%= image_tag("https://loremflickr.com/600/200/brazil,rio",  height:"200",width: "100%" ,alt: "Third slide", class: "d-block w-100") %>
    </div>
    <div class="col-md-5">
      <h1>Group Name</h1>
      <h4>Group Address</h4>
      <div class="col-md-8 text-right gs-1">
        <br>
        <br>
        <br>
        <br>
        <span>Organized by Group.username</span>
      </div>
      <div class="col-md-3 gs-1">
        <%= image_tag("https://via.placeholder.com/100x100",  height: "100px", width: "100px" ,alt: "Third slide", class: "d-block w-100") %> <!-- user.avatar -->
      </div>
    </div>
</div><!-- row -->
<!-- middle -->
<div class="container">
  <div class="new-row">

      <div data-spy="scroll" class="tabbable-panel">
        <div class="tabbable-line">
          <ul class="nav nav-tabs ">
            <li class="active">
              <a href="#groupshow_about" data-toggle="tab">About</a>
            </li>
            <li>
              <a href="#tab_default_2" data-toggle="tab">Members</a>
            </li>
            <li>
              <a href="#tab_default_3" data-toggle="tab">Events</a>
            </li>
             <li>
              <a href="#tab_default_4" data-toggle="tab">Comments</a>
            </li>
            <li>
              <a href="#tab_default_5" data-toggle="tab">Photos</a>
            </li>
          </ul>
          <div class="tab-content">
            <%= render partial: "shared/group_show/groupshow_about" %>
            <div class="tab-pane" id="tab_default_2">
              <p>
                Education& Career
              </p>
              <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                     <label for="email">Highest Education:</label>
                      <p> MBA/PGDM</p>
                 </div>
                  <div class="form-group">
                     <label for="email">Place of Birth:</label>
                      <p> pune, maharashtra</p>
                 </div>
                  <div class="form-group">
                     <label for="email">Place of Birth:</label>
                      <p> pune, maharashtra</p>
                 </div>
                  <div class="form-group">
                     <label for="email">Place of Birth:</label>
                      <p> pune, maharashtra</p>
                 </div>
              </div>
              <div class="col-sm-6">
                 <div class="form-group">
                     <label for="email">Place of Birth:</label>
                      <p> pune, maharashtra</p>
                 </div>
                  <div class="form-group">
                     <label for="email">Place of Birth:</label>
                      <p> pune, maharashtra</p>
                 </div>
                  <div class="form-group">
                     <label for="email">Place of Birth:</label>
                      <p> pune, maharashtra</p>
                 </div>
                  <div class="form-group">
                     <label for="email">Place of Birth:</label>
                      <p> pune, maharashtra</p>
                 </div>

               </div>
              </div>

             
           
            </div>
            <div class="tab-pane" id="tab_default_3">
              <p>
                Family Details
              </p>
              <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                     <label for="email">Highest Education:</label>
                      <p> MBA/PGDM</p>
                 </div>
                  <div class="form-group">
                     <label for="email">Place of Birth:</label>
                      <p> pune, maharashtra</p>
                 </div>
                  <div class="form-group">
                     <label for="email">Place of Birth:</label>
                      <p> pune, maharashtra</p>
                 </div>
                  <div class="form-group">
                     <label for="email">Place of Birth:</label>
                      <p> pune, maharashtra</p>
                 </div>
              </div>
              <div class="col-sm-6">
                 <div class="form-group">
                     <label for="email">Place of Birth:</label>
                      <p> pune, maharashtra</p>
                 </div>
                  <div class="form-group">
                     <label for="email">Place of Birth:</label>
                      <p> pune, maharashtra</p>
                 </div>
                  <div class="form-group">
                     <label for="email">Place of Birth:</label>
                      <p> pune, maharashtra</p>
                 </div>
                  <div class="form-group">
                     <label for="email">Place of Birth:</label>
                      <p> pune, maharashtra</p>
                 </div>

               </div>
              </div>
            </div>
             <div class="tab-pane" id="tab_default_4">
              <p>
               Lifestyle

              </p>
               <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                     <label for="email">Highest Education:</label>
                      <p> MBA/PGDM</p>
                 </div>
                  <div class="form-group">
                     <label for="email">Place of Birth:</label>
                      <p> pune, maharashtra</p>
                 </div>
                  <div class="form-group">
                     <label for="email">Place of Birth:</label>
                      <p> pune, maharashtra</p>
                 </div>
                  <div class="form-group">
                     <label for="email">Place of Birth:</label>
                      <p> pune, maharashtra</p>
                 </div>
              </div>
              <div class="col-sm-6">
                 <div class="form-group">
                     <label for="email">Place of Birth:</label>
                      <p> pune, maharashtra</p>
                 </div>
                  <div class="form-group">
                     <label for="email">Place of Birth:</label>
                      <p> pune, maharashtra</p>
                 </div>
                  <div class="form-group">
                     <label for="email">Place of Birth:</label>
                      <p> pune, maharashtra</p>
                 </div>
                  <div class="form-group">
                     <label for="email">Place of Birth:</label>
                      <p> pune, maharashtra</p>
                 </div>

               </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
  </div>

</div>
<!-- under --> 




</div><!-- container -->

<!-- footer -->
<%= render 'layouts/footer' %>