<tbody id="items">
  <tr>
    <td>1</td>
    <td>Table cell</td>
    <td>Table cell</td>
    <td>Table cell</td>
    <td>Table cell</td>
    <td>Table cell</td>
    <td><button>Edit</button></td>
    <td><button>Delete</button></td>
  </tr>
  <tr>
    <td>2</td>
    <td>Table cell</td>
    <td>Table cell</td>
    <td>Table cell</td>
    <td>Table cell</td>
    <td>Table cell</td>
    <td><button>Edit</button></td>
    <td><button>Delete</button></td>
  </tr>
</tbody>