<!-- right Group Photos -->
 <div class="tab-pane" id="gphotos">
   <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Photo Name</th>
          <th>Description</th>
          <th>Photos count</th>
          <th>Date</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
        <%# table cotents %>
    </table>
    <hr>
    <div class="row">
      <div class="col-md-4 col-md-offset-4 text-center">
        <ul class="pagination" id="myPager"></ul>
      </div>
    </div>
   </div><!--/table-resp-->            
 </div><!--/tab-pane join-->