<ul class="event-listing-container">
  <li class="row" type="none"><h4>WEDNESDAY, SEPTEMBER 12(依日期分類)</h4></li>
  <li class="row" type="none">
    <ul class="event-listing-row">
      <li class="row event-listing" type="none">時間幾點<em>個會去 going</em></li>
      <li class="row" type="none"><h4>group name</h4></li>
      <li class="row" type="none">event name</li>
    </ul>       
  </ul>