<h3>Group Joined</h3>
  <table class="table table-striped custab text-center">
    <thead class="text-center">
      <tr>
        <th class="text-center">Group name</th>
        <th class="text-center">Label</th>
        <th class="text-center">Location</th>
        <th class="text-center">Members count</th>
        <th class="text-center">Leave</th>
      </tr>
    </thead>
      <tr>
        <td>Group name</td>
        <td>Label</td>
        <td>Taipei</td>
        <td>2</td>
        <td>
          <a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span>Leave</a>
        </td>
      </tr>
      <tr>
        <td>Group name</td>
        <td>Label</td>
        <td>Taipei</td>
        <td>2</td>
        <td>
          <a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span>Leave</a>
        </td>
      </tr>
    </table>
