<div class="container">
    <div class="row">
    <div class="col-md-12">
      <h3>Admin</h3>
      <div class="tabbable-panel">
        <div class="tabbable-line">
          <ul class="nav nav-tabs ">
            <li class="active">
              <a href="#tab_default_1" data-toggle="tab">
              User </a>
            </li>
            <li>
              <a href="#tab_default_2" data-toggle="tab">
              Group </a>
            </li>
            <li>
              <a href="#tab_default_3" data-toggle="tab">
              Event </a>
            </li>
          </ul>
          <div class="tab-content bg-light">
            <div class="tab-pane active" id="tab_default_1">
             <%= render partial: "shared/admin/group/admin_user" %>
            </div>
            <div class="tab-pane" id="tab_default_2">
              <%= render partial: "shared/admin/group/admin_group" %>
            </div>
            <div class="tab-pane" id="tab_default_3">
             <%= render partial: "shared/admin/group/admin_event" %>
            </div>
          </div><!-- tab-content -->
        </div><!-- tabbable-line -->
      </div><!-- tabbable-panel -->
    </div>
  </div>
</div>
<!-- footer -->
<%= render  'layouts/footer' %>