<div class="row">
  <div class="col-md-4 item">
    <div class="thumbnail card">
      <div class="img-event">
        <%= image_tag("http://placeimg.com/640/360/any",  height:"200",width: "100%" ,alt: "Third slide", class: "d-block w-100") %>
      </div>
      <div class="caption card-body">
        <h4 class="group card-title inner list-group-item-heading">
              Event Name</h4>
          <p class="group inner list-group-item-text">
            <p class="lead">event.date</p>
            <h4>event.location</h4>
            event.contacts
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore, corporis, voluptatum? Suscipit sapiente ut ipsum voluptates qui, voluptate quas iste!
          </p>
          <div class="row lge">
            <div class="btn-group">
              <button class="btn btn-info">Going</button>
              <button class="btn btn-danger">Not going</button>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>