<!-- æŒ‰replyæ‰é¡¯ç¤º -->
 <div class="row">
  <div class="widget-area no-padding blank">
    <div class="status-upload">
      <form>
        <textarea placeholder="Say something......." ></textarea>
        <button type="submit" class="btn btn-success green"><i class="fa fa-share"></i>Send</button>
      </form>
    </div><!-- Status Upload  -->
  </div><!-- Widget Area -->
</div>