<div class="col-md-12">
    <table class="table table-striped custab text-center">
    <thead>
        <tr >
            <th class="text-center">Group ID</th>
            <th class="text-center">Group Name</th>
            <th class="text-center">Label</th>
            <th class="text-center">Member's Count</th>
            <th class="text-center">Delete</th>

        </tr>
    </thead>
            <tr>
                <td>group.id</td>
                <td>group.name</td>
                <td>group.label</td>
                <td>group.member.count</td>
                <td>
                    <a href="#" class="btn btn-danger btn-xs">
                    <span class="glyphicon glyphicon-remove"></span> Del</a>
                </td>
            </tr>
            <tr>
                <td>group.id</td>
                <td>group.name</td>
                <td>group.label</td>
                <td>group.member.count</td>
                <td>
                    <a href="#" class="btn btn-danger btn-xs">
                    <span class="glyphicon glyphicon-remove"></span> Del</a>
                </td>
            </tr>
            <tr>
                <td>group.id</td>
                <td>group.name</td>
                <td>group.label</td>
                <td>group.member.count</td>
                <td>
                    <a href="#" class="btn btn-danger btn-xs">
                    <span class="glyphicon glyphicon-remove"></span> Del</a>
                </td>
            </tr>
    </table>
</div>