<div class="col-md-12">
    <table class="table table-striped custab text-center">
    <thead>
        <tr >
            <th class="text-center">ID</th>
            <th class="text-center">Avatar</th>
            <th class="text-center">Name</th>
            <th class="text-center">Email</th>
            <th class="text-center">Location</th>
            <th class="text-center">Role</th>
            <th class="text-center">Update</th>
            <th class="text-center">Delete</th>

        </tr>
    </thead>
            <tr>
                <td>user.id</td>
                <td class="text-center"><%= image_tag("http://i.pravatar.cc/50",  height: "50px", width: "50px" ,alt: "Third slide", class: "d-block w-100") %></td>
                <td>user.name</td>
                <td>user@email.com</td>
                <td>user.location</td>
                <td>
                    <select name="" id="">
                        <option>usre</option>
                        <option>admin</option>
                    </select>
                </td>
                <td class="text-center">
                    <a class='btn btn-info btn-xs' href="#">
                    <span class="glyphicon glyphicon-edit"></span>Update</a>
                </td> 
                <td>
                    <a href="#" class="btn btn-danger btn-xs">
                    <span class="glyphicon glyphicon-remove"></span> Del</a>
                </td>
            </tr>
            <tr>
                <td>user.id</td>
                <td class="text-center"><%= image_tag("http://i.pravatar.cc/50",  height: "50px", width: "50px" ,alt: "Third slide", class: "d-block w-100") %></td>
                <td>user.name</td>
                <td>user@email.com</td>
                <td>user.location</td>
                <td>
                    <select name="" id="">
                        <option>usre</option>
                        <option>admin</option>
                    </select>
                </td>
                <td class="text-center">
                    <a class='btn btn-info btn-xs' href="#">
                    <span class="glyphicon glyphicon-edit"></span>Update</a>
                </td> 
                <td>
                    <a href="#" class="btn btn-danger btn-xs">
                    <span class="glyphicon glyphicon-remove"></span> Del</a>
                </td>
            </tr>
            <tr>
                <td>user.id</td>
                <td class="text-center"><%= image_tag("http://i.pravatar.cc/50",  height: "50px", width: "50px" ,alt: "Third slide", class: "d-block w-100") %></td>
                <td>user.name</td>
                <td>user@email.com</td>
                <td>user.location</td>
                <td>
                    <select name="" id="">
                        <option>usre</option>
                        <option>admin</option>
                    </select>
                </td>
                <td class="text-center">
                    <a class='btn btn-info btn-xs' href="#">
                    <span class="glyphicon glyphicon-edit"></span>Update</a>
                </td> 
                <td>
                    <a href="#" class="btn btn-danger btn-xs">
                    <span class="glyphicon glyphicon-remove"></span> Del</a>
                </td>
            </tr>
    </table>
</div>